main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    background-color: var(--u-template-bg-color);
    padding: 2rem;
    border: 1px solid var(--u-template-border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 oklch(from var(--u-decoration-color) l c h / 0.1),
    0 5px 3px 0 rgb(0 0 0 / 0.05);

    > div {
      display: flex;
      flex-direction: column;

      label {
        color: var(--u-action-color);
        font-weight: bold;
      }

      select {
        width: 100%;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        background-color: var(--u-body-bg-color);
        cursor: pointer;

        @media (prefers-reduced-motion: no-preference) {
          transition: border-color 0.2s;
        }
      }

      p {
        margin: 0;
        color: var(--u-text-subtitle-color);
        margin-block: 0.25rem;
        font-size: 1rem;
      }
    }
  }

  > section {
    --border: oklch(from var(--u-template-border-color) l c h / 0.3);

    background-color: var(--u-code-bg-color);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--u-code-text-color);
    margin-block-end: 4rem;

    h2,
    h3 {
      margin: 0;
    }

    h2 {
      font-size: 1.5rem;
      border-block-end: 1px solid var(--border);
      padding-block-end: 1rem;
    }

    > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    section {
      margin-block-start: 1rem;

      h3 {
        font-size: 1.25rem;
      }

      p,
      pre {
        position: relative;
        margin: 0;
        background-color: var(--u-code-bg-dark-color);
        padding: 1rem;
        border-radius: 0.25rem;
        border: 1px solid var(--border);

        span {
          overflow-wrap: break-word;
          word-wrap: break-word;
        }

        button {
          position: absolute;
          top: 0.75rem;
          right: 0.75rem;
          background: var(--u-body-bg-color);
          border: 1px solid var(--u-action-color);
          border-radius: 0.25rem;
          color: var(--u-action-color);
          cursor: pointer;
          font-size: 1.5rem;
          padding: 0.25rem 0.5rem;
          line-height: 1;

          @media (prefers-reduced-motion: no-preference) {
            transition: color 0.2s;
          }

          span {
            font-size: 1rem;
          }
        }
      }

      pre {
        font-family: "Unistra A", sans-serif;
      }
    }
  }
}
